.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.Python
env/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
oronware/oronware/wsgi.py
media/
venv/
